.container-tabelas {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.tabelasForm {
    width: 80%;
    padding: 40px;
    background: #e9e9e9;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(255, 112, 56, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}

h1{
    color: #ff2d20;
    margin-bottom: 5%;
}

.tabela{
    display: flex;
    justify-content: center;
}

table{
    border: 1px solid #ff2d20;
    width: 93%;
    margin-top: 2%;
}

.titleTable{
    color: #ff2d20;
    font-weight: bold;
    font-size: 25px;
}

td{
    border: 1px solid #ff2d20;
    font-size: 20px;
}


a:hover{
    color: #ff2d20;
}